{% extends 'base.html.twig' %}

{% block title %}The Rugby Highlights - Archive{% endblock %}
{% block ogTitle %}"The Rugby Highlights - Archive"{% endblock %}
{% block description %}"Catch up on all highlights from the current season across all leagues and competitions available!"{% endblock %}
{% block ogDescription %}"Catch up on all highlights from the current season across all leagues and competitions available!"{% endblock %}

{% block body %}
    <h1 class="title-text">Archive</h1>
    <div id="archive"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('archive') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('archive') }}
{% endblock %}