{% extends 'base.html.twig' %}

{% block title %}The Rugby Highlights - Fixtures{% endblock %}
{% block ogTitle %}"The Rugby Highlights - Fixtures"{% endblock %}
{% block description %}"Look forward to the upcoming fixtures across the world of international and club rugby!"{% endblock %}
{% block ogDescription %}"Look forward to the upcoming fixtures across the world of international and club rugby!"{% endblock %}

{% block body %}
    <h1 class="title-text">Fixtures</h1>
    <div id="fixtures"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('fixtures') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('fixtures') }}
{% endblock %}