{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title-text">Latest Highlights</h1>
    <div id="rugby"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('rugby') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('rugby') }}
{% endblock %}